.header {
  text-align: center;
  font-weight: 400;
  font-size: 4rem;

  padding-top: 10%;
}

.description {
  text-align: center;
  color: #797979;
  padding: 2rem;

  font-size: 1rem;
}

.imageGallery {
  padding: 0 4%;
}

.imageContainerOne {
  width: 45%;
}
.imageContainerTwo {
  width: 35%;
  position: absolute;
  left: 50%;
}
.imageContainerThree {
  width: 40%;
  padding: 3rem;
}

.image {
  height: auto;
  position: relative !important;

  width: 50%;

  border-radius: 16px;
}

@media (min-width: 1080px) {
  .header {
    font-size: 6rem;
  }

  .description {
    font-size: 1.2rem;
    padding: 2rem 6rem 10rem 6rem;
  }
}
