.DesktopSearchBar {
  display: flex;
  height: 4rem;
  padding: 0 0.5rem;
  align-items: center;
}

.searchButton {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.searchButton:hover {
  border: 1px solid whitesmoke;
}

.searchInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: unset;
  border: unset;
  text-overflow: ellipsis;

  height: 100%;
  color: whitesmoke;
  font-size: 1.5rem;

  padding-right: 1rem;
  display: block;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.6);
  opacity: 1; /* Firefox */
}

.searchInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.6);
}

.searchInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.6);
}
